body {
    margin: 20px;
    justify-content: space-around;
    font-family: 'Inter''Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

.upper {
    height: 300;
    background: #6943FF;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#input-field {
    margin: auto;
    color : white;
    font-size: 80px;
    font-weight: bold;
    background-color: #6943FF;
    border: 2px solid white;
    width: 200px;
    border-radius: 10px;
    text-align: center;
}

h2{
    color: white;
}

#input-btn {
    width: 200px;
    height: 40px;
    border: none;
    background: white;
    border-radius: 5px;
    margin: 20px auto;
    
}

.lower {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    
}

#length, #volume, #mass {
    margin: auto;
    margin-top: 20px;
    background: #273549;
    width: 90%;
    color: white;
}

#mass {
    margin-bottom: 20px;
}

h3 {
    color: #CCC1FF
}
